@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";

html {
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

.image-gallery {
  width: 100%;
  height: auto;
  z-index: 0;
}

body::before {
  content: "";
  display: block;
  height: 64px;
}
