@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";

.image-gallery {
  width: 100%;
  height: auto;
  z-index: 0;
}

body {
  background-color: #fefefe;
}
body::before {
  content: "";
  display: block;
  height: 64px;
}
